
body {
    background-color: #f8f9fa;
}

.container {
    margin-top: 5%;
}









.card {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.card-header {
    background-color: #1cd33a;
    color: #fff;
}

.card-body {
    padding: 2rem;
}

.btn-primary {
    background-color: #21e766;
    border-color: #28e147;
}

.btn-primary:hover {
    background-color: #3ddb2c;
    border-color: #25e432;
}

.form-group {
    margin-bottom: 1.5rem;
}

.text-center {
    text-align: center;
}

.mt-3 {
    margin-top: 1rem;
}