body {
    background-color: #f8f9fa;
}

.container {
    margin-top: 5%;
}

.card {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.card-header {
    background-color: #00ff1e;
    color: #fff;
}

.card-body {
    padding: 2rem;
}

.btn-primary {
    background-color: #00ff22;
    border-color: #00ff40;
}

.btn-primary:hover {
    background-color: #1eb300;
    border-color: #18b300;
}

.form-group {
    margin-bottom: 1.5rem;
}

.text-center {
    text-align: center;
}

.mt-3 {
    margin-top: 1rem;
}